body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.AppHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(179, 176, 176);
}

.AppTitle {
    display: flex;
    width: 25vw;
    border-right: 1px solid rgb(179, 176, 176);
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
}

.AppRoom {
    display: flex;
    width: 75vw;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
}

.AppBody {
    display: flex;
    flex-direction: row;
    flex: 0.4;
}

.MessageWrapper {
    position: fixed;
    bottom:0;
    right: 0;
    width: 75vw;
    flex: 1;
}